@import "../../variables";

.search {
  text-align: center;
  padding-bottom: 15px;
  input {
    font-size: 18px;
    color: $black;
    padding: 15px;
    width: 95%;
    border-radius: 20px;
    outline: none;
    background-color: $white;
    &::placeholder {
      color: $black;
    }
  }
}